<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.transportation.dao.CollectDao">

    <insert id="save" parameterType="collectInfo">
        insert into t_collect(src_id, dst_id, col_end_time, col_time, effective_time, expiration_time)
        values(#{srcId}, #{dstId}, #{collectEndTime}, #{collectTime}, #{effectiveTime}, #{expirationTime});
    </insert>

    <insert id="saveBatch">
        insert into t_collect(src_id, dst_id, col_end_time, col_time, effective_time, expiration_time)
        values
        <foreach collection="list" item="collectInfo" separator=",">
            (
                 #{collectInfo.srcId}, #{collectInfo.dstId}, #{collectInfo.collectEndTime}, #{collectInfo.collectTime},
                 #{collectInfo.effectiveTime}, #{collectInfo.expirationTime}
             )
        </foreach>
    </insert>

    <select id="getBySrcIdAndDstId" resultType="collectInfo">
        select t.col_end_time as collectEndTime, t.col_time as collectTime, t.effective_time as effectiveTime,
               t.expiration_time as expirationTime from t_collect as t
        where src_id=#{srcId} and dst_id = #{dstId};
    </select>

</mapper>